body {
  text-align: center;
  background-color: rgb(43, 43, 85);
}

#app-container {
  position: relative;
  margin: auto;
  height: 90vh;
  width: 90vh;
}

#gameWindow {
  width: 100%;
  height: 100%;
}

.btn-caddy {
  position: absolute;
  right: 3vh;
  top: 3vh;
  text-align: center;
  button {
    border-radius: 10px;
    border: none;
    width: 20vh;
    margin: 1vh;
    font-size: 3vh;
    display: block;
    background-color: blue;
    color: white;
  }
}
